body {
  font-family: Arial;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: black;
  padding: 10px;
}


nav ul li {
  display: inline;
  text-align: center;
  margin-right: 50px;
}

nav a {
  color: white;

}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
}

h2 {
  color: blue;
  text-align: center;
}

p {
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 23%;
  margin: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

form {
  width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid gray;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
  nav {
    padding: 5px;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }

  .gallery {
    justify-content: center;
  }

  .gallery-item {
    width: 80%;
    margin: 10px auto;
  }
}